name: deploy microfrontends host with single-spa

on:
  push:
    branches:
      - main

env:
  ORGANIZATION: 'porz-org'
  DEVELOPER_BUCKET: 'microfrontend-bucket-dev'

jobs:
  build-host:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          
      - name: Install dependencies
        run: yarn workspace @porz-org/root-config install

      - name: Build host
        run: yarn workspace @porz-org/root-config build:webpack

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: host
          path: apps/host/dist
          if-no-files-found: error
  
  deploy-host:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    
    needs: 
     - build-host
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: host
          path: host

      - name: Unzip artifact
        run: zip -r host.zip host/

      - name: Login GCP
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          service_account_email: ${{ secrets.GCLOUD_EMAIL }}
          service_account_key: ${{ secrets.GCLOUD_SERVICE_ACCOUNT }}

      - name: Upload bundle file to GCS
        run: |
          gsutil cp -r host gs://$DEVELOPER_BUCKET/host/$GITHUB_SHA

      - name: Delete Artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: host 