name: deploy microfrontends host with single-spa

on:
  push:
    branches:
      - main

env:
  ORGANIZATION: 'porz-org'
  DEVELOPER_BUCKET: 'microfrontend-bucket-dev'
  REGION: asia-southeast1
  MIN_INSTANCES: 0

jobs:
  build-host:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          
      - name: Install dependencies
        run: yarn workspace @$ORGANIZATION/root-config install

      - name: Build host
        run: yarn workspace @$ORGANIZATION/root-config build:webpack

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: host
          path: apps/host/dist
          if-no-files-found: error
  
  deploy-host:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    
    needs: 
     - build-host
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: host
          path: host

      - name: Unzip artifact
        run: |
          zip -r host.zip host/
          cp host/ application-shell/

      - name: Login GCP
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          service_account_email: ${{ secrets.GCLOUD_EMAIL }}
          service_account_key: ${{ secrets.GCLOUD_SERVICE_ACCOUNT }}

      - name: Upload bundle file to GCS
        run: |
          gsutil cp -r host gs://$DEVELOPER_BUCKET


      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Image Name
        id: set_image_name
        run: |
          echo "IMAGE_NAME=asia.gcr.io/${{ secrets.GCLOUD_PROJECT_ID }}/application-shell:$GITHUB_SHA" >> $GITHUB_ENV
      
      - name: Build Image
        run: |
          docker build -t ${{ env.IMAGE_NAME }} ./application-shell
          
      - name: Push Docker image
        run: |
          docker push ${{ env.IMAGE_NAME }}

      - name: Deploy Docker image
        run: |
          gcloud run deploy application-shell \
            --image ${{ env.IMAGE_NAME }} \
            --region $REGION \
            --min-instances $MIN_INSTANCES

      - name: Delete Artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: host 